#sign-in {
  display: flex;
  height: 270px;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: auto;  
}

#sign-in > label:not(.error-message) {
  padding-top: 60px;
  color: #009DDC;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: .06em;
}

#sign-in > button {
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 8px 0px;
  color: white;
  margin: auto;  
  background-color: #009DDC;
  width: 100%;
  font-size: 1.2em;
}

#sign-in > button:hover {
  font-weight: 600;
  background-color: #024196;
}


.error-message {
  background-color: rgb(255, 0, 0);
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: -20px;
  width: 140%;
  margin-left: -20%;
}