#nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  background: darkgray;
  height: 40px;
}

#nav-bar > button {
  height: 40px;
  border: none;
  flex: 1 0 60px;
  cursor: pointer;
  font-size: 1.3em;
}

#nav-bar > button:hover {
  font-weight: 600;
  color: grey;
}


#nav-bar > button:first-of-type {
  margin-right: auto;
}

