#nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  background: darkgray;
  height: 40px;
}

#nav-bar > button {
  height: 40px;
  border: none;
  flex: 1 0 60px;
  cursor: pointer;
  font-size: 1.7em;
  color: white;
  background-color: #009DDC;
}

#nav-bar > button:hover {
  font-weight: 600;
  background-color: #024196;
}

#nav-bar > button:first-of-type {
  margin-right: auto;
}

