<div>
  <app-navbar
    [user]="user"
    [toggleLoggedIn]="toggleLoggedIn"
    [setMain]="setMain"
  >
  </app-navbar>
  <app-profile 
    *ngIf="(page==='Profile')"
    [user]="user"
    [toggleLoggedIn]="toggleLoggedIn"
    [removeUser]="removeUser"
    [updateUsers]="updateUsers"
    [queries] = "queries"
    [addToQueries] = "addToQueries"
    [updateQuery] = "updateQuery"
    [removeQuery] = "removeQuery"
  >
  </app-profile>
  <div *ngIf="(page==='Home')" >
    <app-jobs-list
      [jobs]="jobs"
    >
    </app-jobs-list>
  </div>
</div>
