<div>
  <app-navbar
    [user]="user"
    [toggleLoggedIn]="toggleLoggedIn"
    [setMain]="setMain"
  >
  </app-navbar>
  <app-profile 
    *ngIf="(page==='Profile')"
    [user]="user"
    [toggleLoggedIn]="toggleLoggedIn"
    [removeUser]="removeUser"
    [updateUsers]="updateUsers"
  >
  </app-profile>
  <div *ngIf="(page==='Home')" >
    <h1 (click)="setMain('Profile')" *ngIf="(user.displayname === null)" >{{user.username}}'s Feeds:</h1>
    <h1 (click)="setMain('Profile')" *ngIf="(user.displayname !== null)">{{user.displayname}}'s Feeds:</h1>
    <app-jobs-list></app-jobs-list>
  </div>
</div>
