<div id="entry-form" *ngIf="(loggedIn===false)" >
  <div>
    <button (click)="toggleForm('login')" >Log In</button>
    <button (click)="toggleForm('signup')" > Sign Up</button>    
    <!-- <button routerLink="/login">Log In</button>
    <button routerLink="/signup">Sign Up</button> -->
  </div>
  <app-login
    *ngIf="login"
    [data]="users"
    [func]="signInUser"
    [errorMessage]="loginError"
  >
  </app-login>
  <app-signin
    *ngIf="signup"
    [data]="users"
    [func]="createUser"
    [errorMessage]="signupError"
  >
  </app-signin>
</div>
<app-main
  *ngIf="loggedIn"
  [user]="user"
  [toggleLoggedIn]="toggleLoggedIn"
  [removeUser]="removeUser"
  [updateUsers]="updateUsers"
>
</app-main>

<!-- <ul>
  <li *ngFor="let user of users">{{user.id}}: {{user.username}}, {{user.displayname}}</li>
</ul> -->