<div id="user-profile">
  <div id="user-profile-body">
    <div id="user-profile-feeds">
      <app-api-jobs></app-api-jobs>
      <button>Add Feed</button>
    </div>
    <div id="user-profile-edit">
      <h1 *ngIf="(user.displayname === null)" >{{user.username}}'s Profile</h1>
      <h1 *ngIf="(user.displayname !== null)">{{user.displayname}}'s Profile</h1>
      <label for="user-profile-add-display-name" *ngIf="(user.displayname === null)" >Add display name:</label>
      <label for="user-profile-add-display-name" *ngIf="(user.displayname !== null)" >Edit display name:</label>
      <input id="user-profile-add-display-name" [(ngModel)]="displayname"/>

      <button (click)="updateProfile()">Edit Profile</button>
      <button (click)="deleteMyself()">Delete Profile</button>
    </div>
  </div>
</div>
