#log-in {
  display: flex;
  height: 270px;
  flex-direction: column;
  justify-content: flex-start;
}

#log-in > label:not(.error-message) {
  padding-top: 20px;
}

#log-in > button {
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.error-message {
  background-color: rgb(255, 0, 0);
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: -20px;
} 